@use "sass:math";
 
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

@import '../../node_modules/swiper/swiper-bundle.css';


// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Mulish";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  .loaded & {
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";


ul{
  margin-bottom: 0;
  padding-left: 0;
}

body{
  overflow-y:overlay;
}
.container{
  max-width: 1200px;
}

.show{
  display: block;
}

.hide{
  display: none !important;
}


.header{
  z-index: 999;

.header-nav__fixed{
  display: block;

  width: 100%;
  position: fixed;
  top: 0%;
  padding: 20px 0 15px;
  
  background: #FFFFFF;
  .header-nav{
    background-color: #FFB342;

    height: 88px;



    .nav__li{
      display: flex;
      justify-content: space-around;
      align-items: center;
        .active{
          color: #FFFFFF;
        }
        li{
          color: #222222;

          cursor: pointer;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;

          list-style: none;
          transition-duration: 0.7s;
        }
        li:hover{
          
          color: #FFFFFF;
        }
      
    }
    .nav__button{
      display: flex;
      justify-content: end;
      align-items: center;
      

      .button{
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 298px;
      height: 68px;

      background: #1C2752;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;

      color: #F4F4F4;
      transition-duration: 0.7s;
      }
      .button:hover{
        background-color: #F4F4F4;

        color: #1C2752;

      }

    }
    
  }

}
.header__container{
  max-width: 1200px;
  padding-top: 30px;
  .logo{
    
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
    }
    }
  .contact{
    display: flex;
    justify-content: end;
    gap: 65px;

    
     .circle{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 68px;
    width: 68px;

    border-radius: 50%;
    background-color: #FFB342;
      }
    .text{
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-left: 15px;
      .title{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
      }
      .subtitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;

        color: #7E7E7E;
      }
    }
    .contact__message{
      display: flex;
    }
    .contact__phone{
      display: flex;
    }

  }
  .header-nav{
    background-color: #FFB342;

    height: 88px;

    margin: 30px 0 0 0;


    .nav__li{
      display: flex;
      justify-content: space-around;
      align-items: center;
        .active{
          color: #FFFFFF;
        }
        li{
          color: #222222;

          cursor: pointer;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;

          list-style: none;
          transition-duration: 0.7s;
        }
        li:hover{
          
          color: #FFFFFF;
        }
      
    }
    .nav__button{
      display: flex;
      justify-content: end;
      align-items: center;
      

      .button{
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 298px;
      height: 68px;

      background: #1C2752;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;

      color: #F4F4F4;
      transition-duration: 0.7s;
      }
      .button:hover{
        background-color: #F4F4F4;

        color: #1C2752;

      }

    }
    
  }
}
}
.wrapper{
  margin: 0 auto;
.intro{
  width: 100%;
  height: 813px;
  background: url(../img/IMAGE.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: -58px auto 0;
  &-content{
    max-width: 1200px;
    margin: 0 auto;
    .content-title{
      margin-top: 270px;
      display: flex;
      align-items: center;
      gap: 10px;

      width: 662px;
      height: 29px;

      background: rgba(255, 255, 255, 0.2);
      .text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: #FFFFFF;
      }
    }
    .content-subtitle{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 78px;

      letter-spacing: 1.2px;
      text-transform: capitalize;

      color: #FFFFFF;

      margin: 31px 0 29px;
    }
    .content-button{
      button{
        width: 227px;
        height: 68px;

        background: #FFB342;
        border-radius: 2px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        color: #1C2752;
        transition-duration: 0.7s;
      }
      button:hover{
        background-color: #1C2752;
        color: #FFFFFF;
      }
    }
  }
}
.about-us{
  padding-top: 140px;
  display: flex;
  gap: 50px;
  .about-us__img{
  }
  .about-us__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section-name{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      width: 249px;
      height: 27px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      background-color: #F4F4F4;
    }
    .title{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 58px;

      color: #1C2752;

      margin: 22px 0 12px;
    }
    .info{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      color: #7E7E7E;
    }
    .info-2{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;

      color: #7E7E7E;

      margin: 10px 0 27px;
    }

    .experiance{
      .experiance__info{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 16px;

        width: 198px;
        height: 220px;

        background: #F4F4F4;
        .info__number{
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 80px;
          line-height: 88px;

          color: #FFB342;
        }
        .info__text{
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;

          color: #1C2752;
        }
      }
      .experiance__list{
        display: flex;
        align-items: center;
        ul{
        
        li{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;

          color: #7E7E7E;
        }
        }
      }
    }
  }
}
.our-offer__wrapper{
  margin-top: 140px;

  background-color:#FFB342 ;
  height: 990px;

  .our-offer{
    .section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      &__name{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        background-color: #F4F4F4;
        width: 207px;
        height: 27px;

        margin-top: 150px;
      }
      &__title{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        
        margin: 22px 0 12px;
      }
      &__subtitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        margin-bottom: 37px;
      }
      &__items{
        display: flex;
        gap: 30px;
        justify-content: center;
        .item{
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;

          width: 249px;
          height: 68px;

          border: 1px solid #1C2752;

          cursor: pointer;

          &__name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
          }
        }
        .active{

          background-color: #FFFFFF;

          border: 1px solid #FFFFFF;
        }
      }
      &__info{
        display: flex;
        align-items: center;
        gap: 75px;
        width: 1160px;
        height: 560px;

        background: #FFFFFF;

        margin-top: 40px;
        text-align: start;

        padding: 0 60px;
        box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
        .name{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 259px;
          color: #1C2752;
          background-color: #F4F4F4;
          height: 28px;

          margin-bottom: 22px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;
        }
        .title{
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 45px;
          line-height: 58px;

          color: #1C2752;

          margin-bottom: 12px;
        }
        .text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;

          color: #7E7E7E;
        }
        .button{
          button{
            width: 190px;
            height: 68px;

            background-color: #FFB342;


            margin-top: 27px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            transition-duration: 0.7s;
          }
          button:hover{
            background-color: #FFFFFF;
            border: 1px solid black ;
          }
        }
      }
      
    }
    
  }
}
.service-wrapper{
  background: #F4F4F4;
  height: 1397px;
  .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__name{
      display: flex;
      margin-top: 250px;
      align-items: center;
      gap: 10px;
      justify-content: center;

      width: 213px;
      height: 27px;

      background: #FFFFFF;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      color: #1C2752;
    }
    .section__title{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 58px;

      color: #1C2752;

      margin: 22px 0 12px;
    }
    .section__subtitle{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      text-align: center;

      color: #7E7E7E;

      margin-bottom: 47px;
    }
    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #1C2752;

      width: 380px;
      height: 378px;

      padding-left: 35px;
      &__img{
        margin-bottom: 20px;
      }
      &__title{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;

        color: #FFB342;

        text-transform: capitalize;
        margin-bottom: 15px;
      }
      &__text{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;

      color: #D2D2D2;
      margin-bottom: 22px;

      }
      &__button{
        button{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;

          color: #FFFFFF;
        }
      }
    }
    
  }
}
.company-info__wrapper{
  display: flex;
  .company-info__statistic{
    position: relative;
    width: 50%;
    height: 848px;
    background: url(@img/company-info/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    .item-wrapper{
      position: absolute;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 23px;
      background: rgba(28, 39, 82, 0.86);
      width: 77%;
      height: 67%;

      top: 17%;
      left: 11%;

      
      .item{
        display: flex;
        text-align: center;
        .number{
          display: flex;
          justify-content: center;
          align-items: center;


          width: 110px;
          height: 67px;
          background: #FFB342;

          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 35px;

          color: #1C2752;
        }
        .text{
          width: 290px;
          height: 67px;

          display: flex;
          justify-content: center;
          align-items: center;

          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 35px;
          color: #FFFFFF;

          border-top: 1px solid #FFFFFF;
          border-right:1px solid #FFFFFF ;
          border-bottom:1px solid #FFFFFF ;
        }
      }
    }
  }
  .company-info__reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: #FFFFFF;
    width: 50%;
    height: 848px;

    padding-left: 70px;
    .section-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;

      width: 213px;
      height: 27px;

      margin-bottom: 23px;

      background: #F4F4F4;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      color: #1C2752;
    }
    .title{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 58px;

      color: #1C2752;

      margin-bottom: 11px;
    }
    .text{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;

      color: #7E7E7E;

      margin-bottom: 37px;
    }
    .reasons{
      .item{
        display: flex;
        gap: 20px;


        &__circle{
          display: flex;
          justify-content: center;
          align-items: center;

          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: #FFB342;

        }
        &__text{
          .title{
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;

            color: #1C2752;
          }
          .text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;

            color: #7E7E7E;
          }
        }
      }
    }
  }
}
.projects__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 981px;

  background: #1C2752;
  padding-top: 150px;
  .section__name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 173px;
    height: 27px;

    background: #F4F4F4;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #1C2752;

    margin-bottom: 22px;
  }
  .section__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;

    color: #FFFFFF;

    margin-bottom: 49px;
  }
  .projects__items {
    max-width: 1440px;
  
  }
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: 477px;
    background: #FFFFFF;
    padding-top: 21px;
    &__text{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;

      color: #1C2752;
      margin: 30px 0 4px;
      div{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;

        color: #7E7E7E;
      }
    }

  }
} 

.form-wrapper{
  max-width: 100%;
  .section-name{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    background: #F4F4F4;
    width: fit-content;

    margin: 150px 0 22px;
  }
  .section-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;

    color: #1C2752;

    margin-bottom: 41px;
  }
  .reviews-wrapper{
  margin: 0;
  border: 1px solid #DDDDDD;
  
  max-width: 591px;
  .user-place{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    padding-bottom: 28px;
    position: relative;
    margin: 41px 0 20px;
    border-bottom: 1px solid #DCDCDC;
    .user{
      &__info{
        display: flex;
        gap: 10px;
        .name{
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 31px;

          color: #1C2752;
        }
        .town{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;

          color: #7E7E7E;
        }
      }
    }
    .item{
      .circle{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 55px;
        width: 55px;
        border-radius: 50%;

        background: #FFB342;
      }
    }
  }
  .revie-text{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #7E7E7E;

    letter-spacing: 0.36px;
  }
}  
  .user-form_wrapper{
    padding: 70px 0 75px;

    background: #F4F4F4;

    width: 564px;
    .form-input{
      input{
      width: 100%;
      height: 65px;
      padding-left: 44px;
      margin-bottom: 25px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;

      color: #1C2752;
      }
    }
    .form-text{
      margin-bottom: 35px;
      textarea{
        padding-left: 37px;
        padding-top: 19px;

        width: 100%;
        height: 150px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;

        color: #1C2752;
      }
      .textarea:focus{
        border: none;
      }
    }
    .from-button{
      button{
        width: 100%;
        height: 68px;

        background: #FFB342;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 27px;

        color: #1C2752;
      }
    }
  }
  .phone-wrapper{
    margin-top: 40px;

    height: 330px;
    width: 100%;

    background:#FFB342;
    padding: 60px 40px 53px;

    .phone-name{
      display: flex;
      align-items: center;
      gap: 10px;
      width: fit-content;

      padding: 0 20px;

      background: #F4F4F4;
      }
      .phone__title{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;

        color: #1C2752;

        margin: 21px 0 13px;
      }
      .phone__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: #1C2752;

        margin-bottom: 22px;
      }
      .phone__number{
        display: flex;
        gap: 20px;

        .circle{
          width: 50px;
          height: 50px;

          border-radius: 50%;

          background: #FFFFFF;

          display: flex;
          justify-content: center;
          align-items: center;
        }
        .number{
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 45px;

          color: #FFFFFF;
        }
      }
    
  }

 
}

.client{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .section-name{
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 0 20px;
    
    background: #F4F4F4;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    margin: 102px 0 22px;
  }
  .section-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;

    color: #1C2752;
    
    margin-bottom: 44px;
  }
  .item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.price-wrapper{
  padding-top: 150px;
  
  height: 1352px;

  margin: 143px 0 150px;
  background: #F4F4F4;
  .section__name{
    display: flex;
    gap: 10px;

    padding: 0 20px;
    background: #FFFFFF;
    width: fit-content;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;

    color: #1C2752;

  }
  .title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;

    color: #1C2752;

    margin: 23px 0 58px;
    
  }
  .title-text{
    color: #7E7E7E;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    padding-left: 87px;

    margin-top: 4px;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px 40px 50px;

    background: #FFFFFF;
    .price{
      display: flex;
      gap: 43px;

      padding-bottom: 36px;
      border-bottom: 2px solid #D7D7D7;

      margin: 7px 0 29px;
    }
    .name{
      display: flex;
      gap: 84px;
      .status{
        color: #1C2752;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.32px;

        padding: 0 10px;
        background: #FFB342;

        display: flex;
        align-items: center;
      }
    }
    &__name{
      color: #1C2752;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
    &__price{
      color: #1C2752;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
    }
    &__comment{
      color: #7E7E7E;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      
      display: flex;
      align-items: flex-end;

      
    }
    &__item{
      .adventages{
        display: flex;
        gap: 13px;

        margin: 0 0 20px;
        align-items: center;
        .text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;

          color: #7E7E7E;
        }
      }
    }
    &__button{
      button{
        width: 100%;
        height: 68px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        color: #1C2752;

        background: #FFB342;

        margin-top: 35px;
        transition-duration: 0.7s;
      }
      button:hover{
        background: #1C2752;

        color:#FFB342;
      }
    }
  }
  .dignity{
    margin-top: 61px;

    &__item{
      .item__title{
        display: flex;
        gap: 15px;

        .text-title{
          color: #1C2752;

          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
        }
        .circle{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        border-radius: 50%;

        background: #FFB342;
        }
      }
      .text{
        margin-top: 9px;

        color: #7E7E7E;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
      }
    }
  }
}

.news-wrapper{
  height: 1081px;
  .news{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .section__name{
      display: flex;
      align-items: center;
      gap: 10px;

      width: fit-content;
      padding: 0 20px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      
      background: #F4F4F4;
    }
    &__title{
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 58px;

      color: #1C2752;
      margin: 22px 0 40px;
    }
    &__item{
      .item{
        .img{

          display: flex;
          justify-content: center;

          width: 580px;
          height: 364px;

          background: url(@img/news/item-1.png);
          .data{
            margin-top: 330px;

            display: flex;
            .author{
              display: flex;
              align-items: center;
              gap: 10px;
              background: #FFC368;

              height: 62px;

              padding: 0 38px;

              color: #1C2752;
            }
            .day{
              display: flex;
              align-items: center;
              gap: 10px;
              background: #FFB342;

              height: 62px;

              padding: 0 25px;

              color: #1C2752;

              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
            }

          }
        }
        &__title{
          margin: 51px 0 16px;

          color: #1C2752;

          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 42px;
        }
        &__text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;

          color: #7E7E7E;

          margin-bottom: 17px;
        }
        &__more{
          cursor: pointer;

          display: flex;
          align-items: center;
          gap: 11px;          

          color: #1C2752;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
        }
       
      }
      .item-2{
        .img{
          display: flex;
          justify-content: center;

          
          width: 580px;
          height: 364px;

          background: url(@img/news/item-2.png);
          .data{

            margin-top: 330px;
            display: flex;
             .author{
              display: flex;
              align-items: center;
              gap: 10px;
              background: #FFC368;
  
              height: 62px;
  
              padding: 0 38px;

              color: #1C2752;
             }
             .day{
              display: flex;
              align-items: center;
              gap: 10px;
              background: #FFB342;
  
              height: 62px;
  
              padding: 0 25px;

              color: #1C2752;

              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
             }
           }
        } 
      }
    }
  }
}

.subscribe-wrapper{
  min-height: 328px;

  background: #FFB342;
  .subscribe{
    padding-top: 141px;
    &__text{
      .title{
        color: #1C2752;

        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;
      }
      .text{
        margin-top: 9px;

        color: #1C2752;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }
    &__form{
      display: flex;

      margin-top: 10px;
      button{
        width: 181px;
        height: 68px;

        background: #FFFFFF;

        color: #1C2752;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
      }
      input{
        width: 390px;
        height: 68px;

        background-color:#FFB342;

        border-top:2px solid #FFFFFF;
        border-left:2px solid #FFFFFF;
        border-bottom:2px solid #FFFFFF;

        padding-left: 25px;

        color: #FFFFFF;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
      }
      


    }
  }
}
}

.footer{
  width: 100%;
  min-height: 560px;
  background: #1C2752;

  .footer__container{
  
  .footer__contact{
    display: flex;
    justify-content: space-between;

    margin-top: 59px;

    border-bottom: 1px solid #4B557D;

    padding-bottom: 40px;
    .item{
      display: flex;
      gap: 15px;
      align-items: center;

      .circle{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 69px;
        height: 68px;

        border-radius: 50%;

        background: #FFB342;
      }
      .text{
        .name{
          color: #FFFFFF;

          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
        }
        .info{
          color: #FFFFFF;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
  }
  .footer__links{
    display: flex;
    align-items: center;

    padding-bottom: 3px;

    border-bottom: 1px solid #4B557D ;
    .media{
      .text{
      margin-top: 110px;

      color: #FFFFFF;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
    .media__link{
      display: flex;

      gap: 15px;

      margin-top: 52px;
      .item{

        .circle{
          display: flex;
          justify-content: center;
          align-items: center;

          width: 60px;
          height: 60px;

          border-radius: 50%;

          background: #2C3765;
        }
      }
    }
    }
    
    .site__link::before{
      position: absolute;

      top:95%;
      right: 75%;


      content: "";

      width: 223px;
      height: 1px;

      background: #4B557D;

      transform: rotate(90deg);
    }

    .site__link{
      position: relative;

      margin-left: 131px;

      margin-right: 80px;

      
      .active{
        color: #FFB342;
        margin-bottom: 16px;
      }
      li{
        color: #FFFFFF;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        margin-bottom: 10px;
      }
    }
    .quick__links{
      margin-right: 149px;
      .active{
        color: #FFB342;
        margin-bottom: 16px;
      }
      li{
        color: #FFFFFF;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        margin-bottom: 10px;
      }
    }
    .utility__links::before{
      position: absolute;

      top:95%;
      right: 75%;


      content: "";

      width: 223px;
      height: 1px;

      background: #4B557D;

      transform: rotate(90deg);
    }
    .utility__links{
      position: relative;
      .active{
        color: #FFB342;
        margin-bottom: 16px;
      }
      li{
        color: #FFFFFF;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        margin-bottom: 10px;
      }
    }
  }
}
}


